---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return document.body.dataset.theme
	};

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const theme = getThemePreference()
			localStorage.setItem('theme', theme);
		});
		observer.observe(document.body, { attributes: true });
	}
</script>

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body data-theme="default">
    <slot />
<Footer/>
  </body>
</html>
