---
import { drinks, milkshakes, lattes, bagels, addOn, flavourShots } from "@/lib/items";
import type { Item } from "@globalville/types";
import ProductSet from "./ProductSet.astro";

type ItemVariants = "Drink" | "Milkshake" | "Latte" | "Food"

const menuArray: Array<Item[]> = [drinks, milkshakes, lattes, bagels, addOn, flavourShots];

const menu: Item[] = [];
const seasonalMenu: Item[] = [];

menuArray.forEach((array) => array.filter((item) => item.season ? seasonalMenu.push(item) : menu.push(item)))

const menuFilter = (item: Item, predicate: ItemVariants) => {return item.type === predicate;}

seasonalMenu.filter((item, index) => {if (!item.available) {seasonalMenu.splice(index, 1)}})

---

<main  >
  <ProductSet menuSet={seasonalMenu} title="Seasonal" />
  <ProductSet menuSet={menu.filter((item) => menuFilter(item, "Drink"))} title="Drinks" />  
  <ProductSet menuSet={menu.filter((item) => menuFilter(item, "Milkshake"))} title="Milkshakes" />
  <ProductSet menuSet={menu.filter((item) => menuFilter(item, "Latte"))} title="Lattes" />  
  <ProductSet menuSet={menu.filter((item) => menuFilter(item, "Food"))} title="Bagels" />
  <ProductSet menuSet={menu.filter((item) => item.type === "Add-on" && item.variant !== "Flavour")} title="Add-Ons" />  
  <ProductSet menuSet={menu.filter((item) => item.type === "Add-on" && item.variant === "Flavour")} title="Flavour Shots" />
</main>